.major{
  /* font-family: 'Courier New', Courier, monospace; */
  /* word-spacing: -10px; */
}
.techy{
  font-family: 'Courier New', Courier, monospace;
  /* color: #efefef; */
  background-color: #545454;
  /* word-spacing: -7px; */
}

.skills label{
  text-align: center;
}

.skill{
  height: 64px;
  width: auto;
}