.major{
  /* font-family: 'Courier New', Courier, monospace; */
  /* word-spacing: -10px; */
}
.techy{
  font-family: 'Karla', sans-serif;
}

.skill{
  width: 80px;
  height: auto;
}

.contact-form{
  color: #000;
}

.icons > li{
  width: 100px;
  /* height: 40px; */
  text-align: center;
}