.major{
  /* font-family: 'Courier New', Courier, monospace; */
  /* word-spacing: -10px; */
}
.techy{
  font-family: 'Karla', sans-serif;
}

.skills label{
  text-align: center;
}

.skill{
  /* height: 64px; */
  width: 64px;
  height: auto;
}

.contact-form{
  color: #000;
}